@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

header {
  background: linear-gradient(90deg, #1f0042, #5f3e8a);
  text-align: center;
  padding: 17px 0;
}

h1 {
  font-family: "Rakkas", cursive;
  letter-spacing: 2px;
  color: rgb(243, 243, 243);
}

h1 strong {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
