.titles {
  margin-top: 4rem;
  background: #7b1ee6;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
}

.titles h4 {
  color: white;
}

.tasks-list {
  background: #af75f1;
  margin: 0;
  border: white solid 1px;
}

#add-task-btn {
  color: #7b1ee6;
  border-color: #7b1ee6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-task-btn:hover {
  color: white;
  background: #7b1ee6;
  border-color: #7b1ee6;
}

/*element clicked shadow colors*/
#add-task-btn:focus,
.form-control:focus {
  border-color: #af75f1;
  box-shadow: 0 0 0 0.2rem rgba(175, 117, 241, 0.4);
}
