<div class="container">
  <!-- Form -->
  <div class="row pt-4">
    <div class="col-12 col-lg-4">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        <input [(ngModel)]="titleInput" placeholder="You need a Title!" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

    </div>
    <div class="col-12 col-lg-8 align-self-end">
      <div class="input-group input-group-sm mb-3 ">
        <span class="input-group-text shadow-none" id="inputGroup-sizing-sm">Description</span>
        <input [(ngModel)]="descriptionInput" placeholder="You need a Description!" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>

  <button id="add-task-btn" type="button" class="btn btn-outline btn-lg" (click)="addTaskHandler()">Add
    Task</button>
  <!-- Form -->


  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 pt-2 titles" *ngFor="let column of columns">
      <h4 id="{{column.head}}">{{column.head}}</h4>
      <div class="row" *ngFor="let task of column.tasks">
        <div id="{{column.head + task.id}}" class="col tasks-list pt-3">
          <task-card [task]="task" (taskRemoved)="removeTask($event)" (moveTaskRight)="moveTaskR($event)"
            (moveTaskLeft)="moveTaskL($event)"></task-card>
        </div>
      </div>
    </div>
  </div>
</div>