.card-style {
  margin: 4px;
  margin-left: 10px;
}

.card-button {
  border-color: #7b1ee6;
  color: #7b1ee6;
}

.card-button:hover {
  background: #7b1ee6;
  color: white;
}

.card-button:focus {
  box-shadow: none;
}
