<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">{{task.title}}</div>
  <div class="card-body">
    <p class="card-text">{{task.description}}</p>
  </div>
  <div class="btn-group" style="padding: 2px;" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary card-button" (click)="onLeftArrow()">
      <i class="bi bi-arrow-left-square"></i>
    </button>
    <button type="button" class="btn btn-outline-primary card-button" (click)="onTaskRemoved()">
      <i class="bi bi-x-square"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary card-button" (click)="onRigthArrow()">
      <i class="bi bi-arrow-right-square"></i>
    </button>
  </div>
</div>